:root{
    --color-index: #ba2d0a;
}
/* Banner */
.wrapper-index {
    max-width: 1140px;
    margin: 0 auto;
}

.banner-index {
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 1rem;
}

.banner-index .txt-side {
    padding: 30px;
}

.banner-index .txt-side p {
    margin: 0px;
    padding: 0px;
}

.banner-index .txt-side .text-side-button {
    margin-top: 20px;
}
.banner-index h1 {
    font-size: 3rem;
}
.banner-index h1 span {
    color: var(--color-index);
}

.banner-index .txt-side .text-side-button a {
    padding: 10px 20px;
    transition: 0.5s ease;
    border-radius: 5px;
    background-color: var(--color-index);
    border: 1.5px var(--color-index) solid;
    color: #fff;
}

.banner-index .txt-side .text-side-button a:hover {
    background-color: #fff;
    transition: 0.5s ease;
    border: 1.5px var(--color-index) solid;
    color: var(--color-index);
}

.banner-index .txt-side .text-side-button a:last-child {
    margin-left: 10px;
    background-color: #fff;
    border: 1.5px var(--color-index) solid;
    transition: 0.5s ease;
    color: var(--color-index);
}

.banner-index .txt-side .text-side-button a:last-child:hover {
    background-color: var(--color-index);
    transition: 0.5s ease;
    border: 1.5px var(--color-index) solid;
    color: #fff;
}

.banner-index .slide-img {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 300px;
}

.banner-index .slide-img img {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.slide-text {
    transition: 0.5s ease;
    font-weight: 700;
    position: absolute;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #fff;
    border-radius: 0.3rem;
}

.banner-index .slide-img:hover .slide-text {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.banner-index .slide-img .slide-text p {
    color: var(--color-index) !important;

}

@media only screen and (max-width: 765px) {

    .slide-img,
    .single-card-destque {
        display: none;
    }

    .banner-index {
        padding: 0px;
        height: auto;
        grid-template-columns: 1fr;
    }

    .destaque-index-content {
        grid-template-columns: 1fr !important;
        gap: 10px;
    }

    .content-cards-destaque-index .cards-destaque-index {
        width: 200px !important;
    }

    .content-cards-destaque-index div {
        flex-wrap: wrap;
    }

    .destaque-index-content {
        height: auto !important;
    }

    .cards-destaque-index {
        margin: 10px;
    }

    .destaque-index>h2 {
        line-height: normal;
    }

    .content-buttons-destaque a {
        margin-top: 10px !important;
    }
}

/* Bloco 1 */
.bloco-1 {
    margin-top: 48px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

.bloco-1>.left-side-bloco-1 {
    padding: 10px;
}

.bloco-1 .left-side-bloco-1 span {
    color: var(--color-index);
}

.bloco-1 .left-side-bloco-1 h2 {
    color: #313131 !important;
    font-size: 2em;
    margin: 8px 0px;
}

.bloco-1 .left-side-bloco-1 img {
    width: 100%;
    margin: 50px 0px;
    height: 200px;
    object-fit: contain;
}

.bloco-1 .right-side-bloco-1 {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    position: relative;
}

.bloco-1-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('imagens/uniformes-em-brim/uniformes-em-brim-01.jpg');
    background-size: calc(100% * 3) calc(100% * 3);
    transition: 0.5s linear;
}
.bloco-1-card p{
    background-color: #fff;
    padding: 5px;
    display: none;
    color: #313131;
    font-weight: bold;
    border-radius: 8px;
    text-transform: uppercase;
}

.bloco-1-card:nth-child(1) {
    background-position: 0 0;
    border-radius: 1rem 0px 0px 0px;
}

.bloco-1-card:nth-child(2) {
    background-position: 50% 0;
}

.bloco-1-card:nth-child(3) {
    background-position: 100% 0;
}

.bloco-1-card:nth-child(4) {
    background-position: 0 50%;
}

.bloco-1-card:nth-child(5) {
    background-position: -100% -100%;
}

.bloco-1-card:nth-child(6) {
    background-position: -200% -100%;
}

.bloco-1-card:nth-child(7) {
    background-position: 0 -50%;
}

.bloco-1-card:nth-child(8) {
    background-position: 50% -50%;
}

.bloco-1-card:nth-child(9) {
    background-position: -50% -50%;
}

.bloco-1-card:hover {
    transition: 0.5s linear;
    filter: grayscale(1);
}
.bloco-1-card:hover p {
    display: block;
}
.left-side-bloco-1 a{
    background-color: var(--color-index);
    padding: 10px 20px;
    border-radius: 0.5rem;
    color: #fff;
}
/* Bloco 1 Mobile */
@media only screen and (max-width: 768px) {
    .bloco-1 .right-side-bloco-1{
        display: none;
    }
    .bloco-1{
        grid-template-columns: repeat(1, 1fr)
    }
    .bloco-1>.left-side-bloco-1{
        padding: 16px;
    }
}

/* Faixa */
.faixa-de-icone {
    width: 100%;
}

.faixa-de-icone .wrapper-index {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    align-items: center;
    justify-content: space-between;
}

.index-icon-card {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;
    position: relative;
    box-shadow: 0px 0px 8px #31313131;
    cursor: pointer;
    border-radius: 0px 0px 1rem 1rem;
    transition: 0.5s ease-in-out;
}

.faixa-de-icone .index-icon-card i {
    z-index: 2;
    margin-top: 28px;
    font-size: 2rem;
    color: var(--color-index);

}

.faixa-de-icone .index-icon-card p {
    z-index: 2;
    color: var(--color-index);
}
.faixa-de-icone .index-icon-card span{
    position: absolute;
    width: 100%;
    background-color: var(--color-index);
    height: 5%;
    transition: 0.5s ease-in-out;

}
.index-icon-card:hover{
    border-radius: 1rem;
}
.faixa-de-icone .index-icon-card:hover span{
    border-radius: 1rem;
    transition: 0.5s ease-in-out;
    height: 100%;
}
.index-icon-card:hover i, .index-icon-card:hover p{
    color: #fff;

}
/* Faixa-mobile */
@media only screen and (max-width: 1024px) {
    .faixa-de-icone .wrapper-index{
        justify-content: space-around;
        padding: 10px;
    }
 
    .faixa-de-icone .index-icon-card p{
        font-size: 14px;
        margin: 0px;
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .index-icon-card{
        box-shadow: none;
    }
    .faixa-de-icone .wrapper-index{
        grid-template-columns: repeat(2,1fr);
    }
}
/* Bloco 3 */
.bloco-3{
    height: 300px;
}
.bloco-3 h2{
    text-align: center;
    text-transform: uppercase;
    color: #313131;
}
.bloco-3 .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
}

.bloco-3-card {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: flex 0.8s ease;
    padding: 16px;
}

.bloco-3-card:hover {
    flex: 5;
}

.bloco-3-1-card {
    background-image: url('imagens/img-home/botas.jpg');
}

.bloco-3-2-card {
    background-image: url('imagens/img-home/capacete.jpg');
}

.bloco-3-3-card {
    background-image: url('imagens/img-home/capacetes.jpg');
}

.bloco-3-conteudo {
    padding: 8px;
    background-color: #fff;
    width: 150px;
    color: #000;
}
/* Bloco 3 Mobile */
@media only screen and (max-width: 768px) {
    .bloco-3-conteudo{
        width: auto;
    }
}
@media only screen and (max-width: 540px) {
    .bloco-3 .gallery-wrap{
        flex-direction: column;
    }
    .bloco-3-card{
        padding: 36px 16px;
    }
    .bloco-3{
        height: 400px;
    }
}
/* Bloco 2 */
.bloco-2-grid{
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    color: #000;
    margin-bottom: 24px;
}
.bloco-2-grid-card:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bloco-2-grid-card:not(.bloco-2-grid-card:first-child){
    box-shadow: 0px 0px 8px #31313131;
    padding: 16px;
    position: relative;
    border-radius: 0.5rem;
}
.bloco-2-grid-card:not(.bloco-2-grid-card:first-child):hover .arrow-left{
    bottom: -4px;
    transition: 0.25s;
    right: -4px;
    box-shadow: 0px 0px 8px #31313131;
}
.bloco-2-grid-card .arrow-left{
    transition: 0.25s;
    
    content: "\f060";
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: #fff;
    border-radius: 0.5rem 0 0.5rem 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #313131;
    bottom: 0;
}
.bloco-2-grid-card h2{
    font-size: 2.5rem;
    color: #000;
    line-height: 2.5rem;
}
.bloco-2-grid-card .span-icon{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
.bloco-2-grid-card .span-icon i{
    color: #fff;
    font-size: 1rem;
}
.bloco-2-grid-card p{
    text-align: left;
}
/* Bloco 2 Mobile */
@media only screen and (max-width: 768px) {
    .bloco-2-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 540px) {
    .bloco-2-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}