.content-gradient {
  background-image: url('./imagens/banner-home.png');
  position: relative;
  height: auto;
  min-height: 70vh;
}



header {
  background-color: #fff;
  z-index: 100;
}

header #menu2 a {
  color: var(--dark);
}

.content-main {
  position: relative;
}

.content-home {
  width: 100%;
  padding-top: 170px;
}

.socials-home i {
  color: #fff;
  padding: 10px;
  border: 1px solid #ffffff4d;
  border-radius: 10px;
  font-size: 2em;
  transition: 0.5s;


}

.content-home h1 {
  font-size: 3.5em;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.content-home p {
  font-size: 1.5em;
  color: var(--light);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.botao-cta a {
  text-align: center;
  padding: 15px 25px;
  min-width: 150px;
  background-color: var(--second-color);
  color: var(--white);
  margin: 5px;
  border-radius: 5px;
  transition: color 0.5s, background-color 0.3s;
  font-size: 20px;
  font-weight: 500;
}

.banner-home {
  padding-top: 70px;

  & img {
    width: 600px;
  }
}

.banner-shape {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: auto;
}
.banner-shape > img {
  width: 100%;
}

h2.title {
  color: var(--second-color);
  font-weight: 400;
  margin: 0;

}

h3.sub-title {
  font-size: 1.4em;
  font-family: "Poppins";
  color: var(--second-color);
  width: 100% !important;
}

h4.sub-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  color: var(--azul-solucs);
}

.content-index .section-content li {
  padding: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  border-radius: 5px;

  &:hover {
    transform: translateY(-10px);
  }
}

.section-text p {
  margin: 20px 0px;
  color: #5f5f5f;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-secundary);
}

.icon-services {
  margin-bottom: 10px;
  color: var(--azul-solucs);
  text-align: left;
}

span.readmore {
  font-size: 16px;
  color: var(--color-secundary);
  text-align: left;
  display: block;
}

span.readmore i {
  font-size: 14px;
  margin-right: 10px;
}
.section-text {
  margin-top: 20px;
}
.card-feature {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
  }
}

.img-card-feature {
  width: 100%;
}

.card-feature img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  object-fit: cover;
}

ul.blog-info {
  font-family: var(--font-secundary);
  display: flex;
}

ul.blog-info li {
  color: #555;
  padding-right: 10px;
}

ul.blog-info li i {
  color: var(--azul-solucs);
}

.content-card-feature {
  min-height: 200px;
  height: auto;
  padding: 15px;
  display: block;
  width: auto;
}
.content-card-feature > h3 {
  text-align: left;
}

.section-text h3 {
  font-weight: 700;
  font-family: "Poppins";
  color: var(--dark);
  text-align: center;
}

.content-index .section {
  margin: 10px 0px 0px 0px;
}
