:root {
    --color-background: #F2F4FF;
    --color-text: #012F73;
    --color-black: #2d2d2f;
    --color-background-gray: #DDE7F5;
    --color-white: #fff;

    --padding-small: 10px 300px;
    --padding-medium: 10px 200px;
    --padding-low: 10px 100px;
    --padding-superlow: 10px 60px;
    --padding-mobile: 10px 30px;
    --padding-extrememobile: 5px 15px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.body-home2 {
    font-family: 'Nunito', sans-serif;
    background-color: var(--color-background);
}

.banner-header {
    display: flex;
    padding: var(--padding-small);
    width: 100%;
    height: 550px;
    align-items: center;
    background-image: url(inc/home-3/img-icons/img/banner-header.png);
}


section {
    width: auto;
}
img {
    max-width: none;
}

.h1-titlehome2 {
    font-size: 70px;
    color: var(--color-white);
    font-weight: 400;
    margin-left: 0px !important;
}
.description-empresa {
    font-weight: 400;
    color: var(--color-white);
    font-size: 18px;
    width: 70%;
} 
.nossos-beneficios {
    margin: var(--padding-small);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.h2-home2 {
    font-size: 55px;
    color: var(--color-text);
} 
.p-home2 {
    font-size: 25px;
    font-weight: 400;
    color: var(--color-black);
}
.div-tresbeneficios {
    background-color: var(--color-background-gray);
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    gap: 10px;
    height: 100px;
    padding: 10px 20px;
}
.beneficios-chave {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.div-tresbeneficios > h3 {
    color: var(--color-text);
    font-size: 40px;
}
.div-tresbeneficios > p {
    color: var(--color-black);
    font-weight: 400;
    font-size: 20px;
}
.tres-beneficios {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    align-items: center;
    justify-content: flex-start;
}
.nossos-clientes > h2 {
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 70px;
    color: var(--color-text);
}
.nossos-clientes {
    text-align: center;
    margin-top: 40px !important;
}
.img-slick-carousel {
    filter: grayscale(100%);
    transition: 0.2s;
    cursor: pointer;
}

.img-slick-carousel:hover {
    filter: none;
    transform: scale(1.01);
}
.depoimentos {
    height: 600px;
    background-color: var(--color-text);
    text-align: center;
    padding: var(--padding-small);
}
.depoimentos > h2 {
    font-size: 45px;
    color: var(--color-white);
    font-weight: 400;
}
.depoimentos > h3 {
    font-size: 40px;
    color: var(--color-white);
    font-weight: 200;
}
.card-depoimentos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
.card1 {
    background-color: var(--color-background);
    height: 340px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
section p, section ul li {
    text-align: unset;
    font-size: 16px;
}
h2 {
    color: #000;
    font-size: 24px;
}
p {
    color: #000;
}
.principais-caracteristicas {
    margin: var(--padding-small);
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.img-principais-caracteristicas > img {
    width: 100%;
}
.article-home2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    justify-content: space-between;
}
.article-home2 > h2 {
    font-size: 45px;
    color: var(--color-text);
    font-weight: 500;
}
.article-home2 > p {
    font-size: 20px;
    color: var(--color-black);
    font-weight: 400;
}

.article-home2 > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}


.article-home2 > div > p {
    font-size: 25px;
    font-weight: 500;
    color: var(--color-text);
}

h2 {
    margin: 0;
}
article p {
    margin: 0;
}

.principais-caracteristicas > div{
    display: flex;
}

.img-slick-carousel {
    width: 220px !important;
}

.img-principais-caracteristicas {
    width: 40%;
    height: 100%;
}
.article-home2 {
    width: 60%;
    height: 100%;
}


@media screen and (min-width: 1400px) and (max-width: 1600px) {

    .banner-header {
        padding: var(--padding-medium);
    }
    .nossos-beneficios {
        margin: var(--padding-medium);
    }
    .img-nossos-beneficios > img {
        width: 450px;
    }
    .h2-home2 {
        font-size: 35px;
    }
    .p-home2 {
        font-size: 20px;
    }
    .div-tresbeneficios {
        width: 130px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5px;
    }
    .div-tresbeneficios > h3 {
        font-size: 30px;
    }
    .div-tresbeneficios > p {
        font-size: 16px;
        font-weight: 500;
    }
    .depoimentos {
        padding: var(--padding-medium);
    }
    .principais-caracteristicas {
        margin: var(--padding-medium);
        height: 450px;
    }
    .img-principais-caracteristicas {
        width: 40%;
        height: 100%;
    }
    .article-home2 {
        width: 60%;
        height: 100%;
    }
    .article-home2 > h2 {
        font-size: 40px;
    }
    .icon-principais-caracteristicas {
        padding: 0px;
    }
    .icon-principais-caracteristicas > img {
        width: 60px;
    }

    .article-home2 > div > p {
        font-size: 20px;
    }
    
}


@media screen and (min-width: 1200px) and (max-width: 1399px) {

    .banner-header {
        padding: var(--padding-low);
    }
    .nossos-beneficios {
        margin: var(--padding-low);
    }
    .img-nossos-beneficios > img {
        width: 450px;
    }
    .h2-home2 {
        font-size: 35px;
    }
    .p-home2 {
        font-size: 20px;
    }
    .div-tresbeneficios {
        width: 130px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5px;
    }
    .div-tresbeneficios > h3 {
        font-size: 30px;
    }
    .div-tresbeneficios > p {
        font-size: 16px;
        font-weight: 500;
    }
    .depoimentos {
        padding: var(--padding-low);
    }
    .principais-caracteristicas {
        margin: var(--padding-low);
        height: 450px;
    }
    .img-principais-caracteristicas {
        width: 40%;
    }
    .img-principais-caracteristicas > img {
        width: 100%;
    }
    .article-home2 {
        width: 60%;
        height: 100%;
    }
    .article-home2 > h2 {
        font-size: 40px;
    }
    .icon-principais-caracteristicas {
        padding: 0px;
    }
    .icon-principais-caracteristicas > img {
        width: 50px;
    }

    .article-home2 > div > p {
        font-size: 20px;
    }
    
}


@media screen and (min-width: 1000px) and (max-width: 1199px) {

    .banner-header {
        padding: var(--padding-superlow);
    }
    .nossos-beneficios {
        margin: var(--padding-superlow);
    }
    .img-nossos-beneficios > img {
        width: 450px;
    }
    .h2-home2 {
        font-size: 35px;
    }
    .p-home2 {
        font-size: 20px;
    }
    .div-tresbeneficios {
        width: 130px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5px;
    }
    .div-tresbeneficios > h3 {
        font-size: 30px;
    }
    .div-tresbeneficios > p {
        font-size: 16px;
        font-weight: 500;
    }
    .depoimentos {
        padding: var(--padding-superlow);
    }
    .principais-caracteristicas {
        margin: var(--padding-superlow);
        height: 500px;
    }
    .principais-caracteristicas > .img-principais-caracteristicas{
        display: none;
    }
    .article-home2 {
        width: 100%;
        height: 100%;
    }
    .article-home2 > h2 {
        font-size: 40px;
    }
    .icon-principais-caracteristicas {
        padding: 0px;
    }
    .icon-principais-caracteristicas > img {
        width: 50px;
    }

    .article-home2 > div > p {
        font-size: 20px;
    }
    
}


@media screen and (min-width: 800px) and (max-width: 999px) {

    .banner-header {
        padding: var(--padding-mobile);
    }
    .nossos-beneficios {
        margin: var(--padding-mobile);
    }
    .img-nossos-beneficios > img {
        width: 450px;
    }
    .h2-home2 {
        font-size: 35px;
    }
    .p-home2 {
        font-size: 20px;
    }
    .div-tresbeneficios {
        width: 130px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5px;
    }
    .div-tresbeneficios > h3 {
        font-size: 30px;
    }
    .div-tresbeneficios > p {
        font-size: 16px;
        font-weight: 500;
    }
    .depoimentos {
        padding: var(--padding-mobile);
        height: auto;
    }
    .card-depoimentos {
        flex-direction: column;
    }
    .card1 {
        padding: 10px;
        width: 100%;
    }
    .principais-caracteristicas {
        margin: var(--padding-mobile);
        height: 500px;
    }
    .principais-caracteristicas > .img-principais-caracteristicas{
        display: none;
    }
    .article-home2 {
        width: 100%;
        height: 100%;
    }
    .article-home2 > h2 {
        font-size: 40px;
    }
    .icon-principais-caracteristicas {
        padding: 0px;
    }
    .icon-principais-caracteristicas > img {
        width: 50px;
    }

    .article-home2 > div > p {
        font-size: 20px;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 799px) {

    .banner-header {
        padding: var(--padding-mobile);
    }
    .nossos-beneficios {
        margin: var(--padding-mobile);
        flex-direction: column;
    }
    .img-nossos-beneficios > img {
        width: 450px;
    }
    .h2-home2 {
        font-size: 35px;
    }
    .p-home2 {
        font-size: 20px;
    }
    .div-tresbeneficios {
        width: 130px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5px;
    }
    .div-tresbeneficios > h3 {
        font-size: 30px;
    }
    .div-tresbeneficios > p {
        font-size: 16px;
        font-weight: 500;
    }
    .depoimentos {
        padding: var(--padding-mobile);
        height: auto;
    }
    .card-depoimentos {
        flex-direction: column;
    }
    .card1 {
        padding: 10px;
        width: 100%;
    }
    .principais-caracteristicas {
        margin: var(--padding-mobile);
        height: 500px;
    }
    .principais-caracteristicas > .img-principais-caracteristicas{
        display: none;
    }
    .article-home2 {
        width: 100%;
        height: 100%;
    }
    .article-home2 > h2 {
        font-size: 40px;
    }
    .icon-principais-caracteristicas {
        padding: 0px;
    }
    .icon-principais-caracteristicas > img {
        width: 50px;
    }

    .article-home2 > div > p {
        font-size: 20px;
    }
    
}
@media screen and (min-width: 400px) and (max-width: 599px) {

    .banner-header {
        padding: var(--padding-mobile);
    }
    .nossos-beneficios {
        margin: var(--padding-mobile);
        flex-direction: column;
    }
    .img-nossos-beneficios > img {
        width: 450px;
    }
    .h2-home2 {
        font-size: 35px;
    }
    .p-home2 {
        font-size: 20px;
    }
    .div-tresbeneficios {
        width: 130px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5px;
    }
    .div-tresbeneficios > h3 {
        font-size: 30px;
    }
    .div-tresbeneficios > p {
        font-size: 16px;
        font-weight: 500;
    }
    .depoimentos {
        padding: var(--padding-mobile);
        height: auto;
    }
    .card-depoimentos {
        flex-direction: column;
    }
    .card1 {
        padding: 10px;
        width: 100%;
    }
    .principais-caracteristicas {
        margin: var(--padding-mobile);
        height: auto;
    }
    .principais-caracteristicas > .img-principais-caracteristicas{
        display: none;
    }
    .article-home2 {
        width: 100%;
        height: 100%;
    }
    .article-home2 > h2 {
        font-size: 40px;
    }
    .icon-principais-caracteristicas {
        padding: 0px;
    }
    .icon-principais-caracteristicas > img {
        width: 50px;
    }

    .article-home2 > div > p {
        font-size: 20px;
    }

    
    
}
@media screen and (min-width: 320px) and (max-width: 399px) {

    .banner-header {
        padding: var(--padding-extrememobile);
    }
    .titulo-empresa {
        & h1 {
            font-size: 40px;
        }
        & p {
            font-size: 20px;
        }
    }
    .nossos-beneficios {
        margin: var(--padding-extrememobile);
        flex-direction: column;
    }
    .img-nossos-beneficios > img {
        width: 100%;
    }
    .h2-home2 {
        font-size: 25px;
    }
    .p-home2 {
        font-size: 17px;
    }
    .nossos-clientes h2 {
        font-size: 35px;
    }
    .nossos-clientes {
        display: none;
    }
    .div-tresbeneficios {
        width: 130px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5px;
    }
    .div-tresbeneficios > h3 {
        font-size: 30px;
    }
    .div-tresbeneficios > p {
        font-size: 16px;
        font-weight: 500;
    }
    .depoimentos {
        padding: var(--padding-extrememobile);
        height: auto;
    }
    .depoimentos h2 {
        font-size: 30px;
    }
    .depoimentos h3 {
        font-size: 26px;
    }
    .card-depoimentos {
        flex-direction: column;
    }
    .card1 {
        padding: 10px;
        width: 100%;
    }
    .principais-caracteristicas {
        margin: var(--padding-extrememobile);
        height: auto;
    }
    .principais-caracteristicas > .img-principais-caracteristicas{
        display: none;
    }
    .article-home2 {
        width: 100%;
        height: 100%;
    }
    .article-home2 > h2 {
        font-size: 30px;
    }
    .icon-principais-caracteristicas {
        padding: 0px;
    }
    .icon-principais-caracteristicas > img {
        width: 40px;
    }

    .article-home2 > div > p {
        font-size: 16px;
    }

    
    
}