:root {
    --color-body-color: #F2F3FB;
    --color-background-mpi: #fff;
    --color-blue-background: #F2F4FF;
}
body {
    scroll-behavior: smooth;
}
.main-tag-content {
    background-color: var(--color-blue-background);
    font-family: "Poppins", sans-serif;
}
.content{
    padding-bottom: 20px ;
}
/* COLORS */
.color-secundary-mpi {
    color: var(--azul-solucs)
}

.color-primary-mpi {
    color: var(--azul-solucs);
}

.color-white {
    color: #fff;
}


/* COLORS */
/* SAIBA MAIS */
.more {
    margin-bottom: 20px;
}

.more h2 strong {
    font-size: 16px;
}

/* GALLERY */

p.alerta {
    font-weight: bold;
    margin-bottom: 40px;
}

.mpi-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    gap: 10px;
}

.mpi-gallery li {
    border-radius: 3px;
    overflow: hidden;
}

.mpi-gallery li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.mpi-gallery li a::before {
    content: "\f002";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    opacity: 0;
    transition: 0.3s;
    color: #FFF;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.mpi-gallery li:hover a::before {
    padding-top: 0;
    opacity: 1;
}

.mpi-gallery li img {
    z-index: 2;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

/* PAGINAS RELACIONADAS */
.related-posting .related-posting__row {
    clear: both;
    display: block;
    background: #eee;
    border-left: 3px solid #ccc;
    padding: 10px 20px;
    transition: all .3s linear;
    min-height: 85px;
    margin: 0 0 2px 0;
    overflow: hidden;
}

.related-posting .related-posting__row:hover {
    border-color: var(--dark);
}

.related-posting .related-posting__row img {
    display: block;
    border: 1px solid #ccc;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.related-posting__cover {
    width: 100%;
    height: 100%;
}

.related-posting__title {
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
}

/* ORGANICTABS REGIOES */
.organictabs--regioes {
    margin: 10px 0;
}

.organictabs--regioes .organictabs__menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.organictabs--regioes.brasil .organictabs__menu {
    grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
}

.organictabs--regioes .organictabs__menu span {
    margin-top: 5px;
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul-solucs);
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.organictabs--regioes.brasil .organictabs__menu span {
    height: 40px;
    font-size: 10px;
    font-weight: bold;
}

.organictabs--regioes .organictabs__menu span.active-tab {
    background-color: var(--second-color);
    color: #fff;
}

.organictabs--regioes .organictabs__content {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #012F73;
    overflow: hidden;
    padding: 10px;
}

.organictabs--regioes .organictabs__content ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 7px;
}

.organictabs--regioes .organictabs__content ul li {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    padding: 5px 0;
    color: #012F73;
}

/* COPYRIGHT */
.copyright {
    font-size: 10px;
    color: #999;
    margin-bottom: 15px;
}

.copyright a {
    font-size: 10px;
    color: #999;
}

.main-mpi-container {
    padding: 40px;
    padding-bottom: 20px !important;
    margin-bottom: 20px;
    background-color: var(--color-background-mpi);
    height: auto;
    border-radius: 8px;
    -webkit-box-shadow: 6px 10px 5px -4px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 6px 10px 5px -4px rgba(0, 0, 0, 0.23);
    box-shadow: 6px 10px 5px -4px rgba(0, 0, 0, 0.23);
    z-index: 2;
    margin-top: -60px !important;
}

.container-conteudo-mpi {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.content-conteudo {
    width: 70%;
    display: flex;
    flex-direction: column;
}


.article-conteudo {
    border-bottom: 1px solid var(--azul-solucs);
    padding: 30px 0px;
}

.box-conteudo {
    margin-top: 25px;
}

.text-p {
    color: #2d2d2f;
    font-size: 19px;
    font-weight: 500;
}

.btn {
    font-size: 20px;
    color: var(--azul-solucs);
    border: 0px;
    border-bottom: 1px solid var(--azul-solucs);
    cursor: pointer;
    padding: 5px 10px;
    background-color: transparent;
    transition: 0.7s;
}

.btn:hover {
    padding: 5px 20px;
}

.leiamais-content {
    display: none;
    animation: myAnim 0.3s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        transform: scale(0);
        transform-origin: 0% 50%;
    }

    100% {
        transform: scale(1);
        transform-origin: 0% 50%;
    }
}

.btn-fechartexto {
    display: none;
}

.cards-informativo {
    display: flex;
    gap: 15px;
    min-height: auto;
    margin-top: 70px;
}

.mini-wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.card {
    border: 1px solid var(--azul-solucs);
    border-radius: 5px;
    width: 33%;
    height: auto;
}

.card-ico {
    background-color: #fff;
    margin-top: -35px;
    padding: 10px 0;
    display: inline-block;
}

.card-ico i {
    color: #000;
    font-size: 3em;
    border-radius: 50%;
}

.card-content {
    text-align: center;
    width: 100%;
}
.card-content:last-child h2{
    max-width: 100%;
}
.card-content h2 {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 10px;
}

.p-card {
    color: var(--azul-solucs);
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 0;
    background-color: #D4E5FF;
    font-weight: 700;
    text-align: center  ;
}

.especificacoes {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* FORMULARIO */

.formulario {
    background-color: var(--azul-solucs);
    text-align: center;
    padding: 25px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.formulario>h3 {
    font-size: 40px;
    color: var(--color-background-mpi);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group>label {
    color: var(--color-background-mpi);
    font-size: 20px;
}

.input-s {
    border: 0px;
    border-bottom: 3px solid var(--color-secundary-mpi);
    background-color: transparent;
    width: 100%;
    padding: 5px;
    color: #3EBD5D;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.div-form {
    width: 100%;
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-form {
    width: 100%;
    border: 0px;
    background-color: var(--color-secundary-mpi);
    color: var(--color-background-mpi);
    font-weight: 600;
    border-radius: 8px;
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}



/* MPI ASIDE */
.mpi-aside {}

.mpi-aside .botao-cotar {
    background-color: var(--azul-solucs);
    transition: 0.3s;

}

.aside__info {
    height: auto;
    border: 1px solid var(--azul-solucs);
    border-radius: 8px;
    margin: 20px 0px;
    text-align: center;
    padding: 10px 20px;
}

.aside__info h3 {
    background-color: transparent;

}

.aside__info h2 {
    font-size: 1.3rem;
    color: var(--azul-solucs);
    padding: 5px;
    border-bottom: 1px solid var(--azul-solucs);
}

.info__content {
    display: flex;
    align-items: center;
}

.info__content i {
    width: 8%;
    margin-right: 10px;
    font-size: 20px;
    color: var(--azul-solucs);
}

.info__content p {
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: var(--azul-solucs);
}

.info__content p:first-child {
    font-weight: bolder;
}

.informacoes-detalhes {
    display: flex;
    flex-direction: column;
}

.regiao-informacoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.regiao-informacoes>img {
    width: 50px;
}

.especialidade-informacoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.especialidade-informacoes>img {
    width: 50px;
}

.telefone-informacoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.telefone-informacoes>img {
    width: 50px;
}

.text-informacoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-informacoes>h3 {
    color: var(--azul-solucs);
    font-size: 15px;
    font-weight: 400;
    margin-top: 0px;
}

.text-informacoes h3 i {
    margin-right: 5px;
}

.text-informacoes>h4 {
    color: #2d2d2f;
    font-size: 12px;
    font-weight: 500;
    margin: 0px;
}

.article-content {
    margin-top: 0px;
    padding-bottom: 10px; 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

/* table */
.table-mpi {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-info h3 {
    text-align: center;
}

.table-info table {
    border-radius: 5px;
}

.table-info td {
    padding: 20px;
}

.table-content {
    border: 1px solid #0000007a;
    border-radius: 5px;
}

.table-content tr {
    background-color: #fff;
    border-bottom: 1px solid black;
    transition: 0.2s;

}

@media screen and (max-width: 768px) {
    .cards-informativo{
        margin-top: 10px !important;
    }

    .card{
        margin-top: 20px;
        width: 50% !important;
    }
}

@media screen and (max-width: 465px){
    .card{
        width: 90% !important;
    }
}
.ReadMore{
    overflow: hidden; height: auto; transition: height 1ms ease-in-out 0s;
}

.info__text {
    margin-bottom: 13px;
}
.color-primary-mpi {
    margin-bottom: -15px;
    margin-top: 50px !important;
}