/* BASE STYLES CSS */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}

/* SCROLL LATERAL */
::-webkit-scrollbar-track { background-color: #f0f0f0; }
::-webkit-scrollbar { width: 8px; background-color: var(--primary-color); }
::-webkit-scrollbar-thumb { background-color: var(--primary-color); }

/*CUSTOMIZE THEME*/
:root {

	/* COLORS */
	--primary-color: #353b48;
	--secondary-color: #e84118;
	--grey: #999;
	--dark: #000;
	--light: #fefefe;
	--alert: #b31610;
	--success: #4caf50;	

	/* DEFAULT BORDER RADIUS */
	--border-radius: .25em;
	--border-color: #dee2e6;

	/* SPACING */

	--wrapper-width: 1180px;

	/* SLICK BANNER */

	--slider-height: 33vw;
}

body {
	font-size: 16px; 
	font-family: var(--primary-font);
	color: var(--grey);
	text-decoration: none;
}

/* SMALL DEVICE */
@media only screen and (max-width: 576px) {
	body { font-size: 12px; }	
}

h1, h2, h3, h4 {
	font-family: var(--primary-font);
	color: var(--primary-color);
	margin: 25px 0;
}

h1 { font-size: 2.25em; } /* 36px */

h2 { font-size: 1.5em; } /* 24px */

h3 { font-size: 1.125em; } /* 18px */

p  {
	font: 1em/1.5em var(--primary-font);
	line-height: 1.8;
	margin: 15px 0;
	color: var(--grey);
	text-align: left;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

hr {
	display: block;
	margin: 1em 0;
	height: 1px;
	border-top: 1px solid #ccc;
}

p a{ font-weight: 700; }
/* COOKIES */

#cookies-message p {
	color: #FFF;
}

/* FIM COOKIES */

/* PAGE LOADING */

.page-loading {
	position: fixed;
	background-color: var(--dark);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 16px;
	overflow: hidden;
}

.page-loading__spinner {
	width: 60px;
	height: auto;
	aspect-ratio: 1/1;
	position: relative;
}

.page-loading__spinner::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	animation-name: pageloadingRotate;
	animation-duration: 1s;        
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	border: 4px solid var(--light);
	border-top: 4px solid var(--primary-color);
	box-sizing: border-box;
}

.page-loading__logo {
	width: 100%;
	max-width: 250px;
	transition: 0.5s;
	position: relative;
	bottom: 0;
	opacity: 1;
}

.page-loading__logo--fade {
	opacity: 0;
	transform: scale(1.5);
}

@keyframes pageloadingRotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

/* FIM PAGE LOADING */

/* HEADER */

/* header fixo */
.headerFixed { position: fixed !important; width: 100%; z-index: 999; top: 0px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; }
.headerFixed .topo { display: none; }

.headerFixed .logo img {
	max-width: 180px;
	margin: 16px auto;
}

.headerFixed:is(.headerSlide, .headerFade) {
	animation-delay: 0.5s; animation-duration: 0.30s; animation-timing-function: ease-out; animation-fill-mode: forwards;
}

/* header fixo - efeito slide */
.headerSlide { animation-name: headerSlide; transform: translateY(-100%); }

@keyframes headerSlide {
	from { transform: translateY(-100%); }
	to { transform: translateY(0); }
}

/* header fixo - efeito fade */
.headerFade { animation-name: headerFade; opacity: 0; }

@keyframes headerFade {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* LARGE DEVICE */
@media only screen and (max-width: 912px) {
	
	header .topo.show-mobile {
		background-color: #222222;
	}

	.flex-top-icons {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.flex-top-icons a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		margin: 5px;
		background: var(--primary-color);
		color: #fff;
		border-radius: 50%;
		font-size: 22px;
	}

}

/* MENU */
header #menu {
	text-align: center;
}

header #menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header #menu li {
	position: relative;
	display: inline-block;
}

header #menu a {
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 12px;
	text-align: center;
	-webkit-transition: .3s;
	transition: .3s;
}

/* ACTIVE MENU TOPO */
.active-menu-topo {
	color: var(--primary-color);
	-webkit-text-stroke: 0.5px var(--primary-color);
}

/* SUB MENU */
header #menu .dropdown :is(.sub-menu, .sub-menu-info) {
	display: none;
	margin: 0;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 7;
	width: 230px;
	height: auto;
	background-color: var(--dark);
}

header #menu ul > li.dropdown:hover > :is(.sub-menu, .sub-menu-info) {
	display: block;
}

header #menu ul > li.dropdown > :where(.sub-menu, .sub-menu-info) > li.dropdown > :where(.sub-menu, .sub-menu-info) {
	display: none;
	top: 0;
	left: 100%;
}

header #menu ul > li.dropdown > :is(.sub-menu, .sub-menu-info) > li.dropdown:hover > :is(.sub-menu, .sub-menu-info) {
	display: block;
}

header #menu .dropdown :is(.sub-menu, .sub-menu-info) li {
	position: relative;
	display: block;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
/*	padding: 0 10px;*/
}

header #menu .dropdown :is(.sub-menu, .sub-menu-info) li:first-of-type {
/*	padding-top: 10px;*/
}

header #menu .dropdown :is(.sub-menu, .sub-menu-info) li:last-of-type {
/*	padding-bottom: 10px;*/
}

header #menu .dropdown :is(.sub-menu, .sub-menu-info) li a {
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	padding: 20px;
	text-align: left;
	text-decoration: none;
	color: #fff;
}

header #menu .dropdown > :is(.sub-menu, .sub-menu-info) > li:hover > a {
	background-color: #fff;
	color: var(--primary-color);
}

/* SUB MENU SCROLL */
header #menu .dropdown :is(.sub-menu, .sub-menu-info).sub-menu-scroll {
	max-height: 400px;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

/* BROWSE HAPPY PROMPT */
.browsehappy { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* SCROLL UP BUTTON */
#scrollUp { position: fixed; bottom: -100px; right: 12px; z-index: 9999; width: 56px; height: 56px; display: flex; align-items: center; justify-content: center; border-radius: 50%; background-color: var(--primary-color); cursor: pointer; opacity: 0; -webkit-transition: .3s; transition: .3s; border: 1px solid rgba(255, 255, 255, 0.2);}
#scrollUp::after { content: '\f077'; font: 18px/normal FontAwesome; color: #fff; }
#scrollUp.is-active { -webkit-transition: .5s; transition: .5s; bottom: 16px; opacity: 1; }

/* SMALL DEVICE */
@media only screen and (max-width: 576px) {
	#scrollUp { width: 40px; height: 40px; }
	#scrollUp::after { font-size: 12px; }	
}

/* BODY */
.wrapper {
	max-width: var(--wrapper-width);
	width: 100%;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
}

.wrapper--small {
	max-width: 1000px;
}

.container {
	max-width: 1920px; 
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 25px 0;
	clear: both;
}

section {
	float: left;
	width: 100%;
}

article,
.article-container {
	float: left;
	width: 67.5%;
}

article.full,
.article-container.full {
	width: 100%;
}

/* SMALL DEVICE */
@media only screen and (max-width:576px) {
	article,
	.article-container {
		float: none;
		width: 100%;
	}

}

/* BREADCRUMB BASE */
.bread { padding: 2rem 0; background-color: var(--primary-color); margin-bottom: 48px;}
.bread__title {
	margin: 1rem 0 0 0;
	color: #FFF;
}

#breadcrumb {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
	clear: both;
}

#breadcrumb * {
	-webkit-transition: .3s;
	transition: .3s;
}

#breadcrumb a {
	display: inline-flex;
	align-items: center;
	height: fit-content;
	color: #FFF;
}

#breadcrumb a:hover * {
	color: #DDD;
}

#breadcrumb .bread__column {
	display: inline-flex;
	align-items: center;
}

#breadcrumb :is([itemprop="title"], [itemprop="name"]) {
	font: 14px var(--primary-font);
	color: #FFF;
}
.bread:is(.bread--default, .bread--mpi) .bread__column:first-child:before {
	content: "\e3af";
	font-family: "FontAwesome";
	font-size: 12px;
	margin-right: 4px;
	color: #FFF;
}

.bread:is(.bread--default, .bread--mpi) .bread__column:not(:last-child)::after {
	content: "❱";
	margin-left: 6px;
	font-size: 14px;
	color: #FFF;
}

.bread--mpi + h1 {
	margin-top: 0;
}

/* SMALL DEVICE */
@media only screen and (max-width: 576px) {
	#breadcrumb :is([itemprop="title"], [itemprop="name"])  {
		display: inline-block;
		max-width: 82px;
		-webkit-line-clamp: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

/* ASIDE */
aside { float: left; width: 27.5%; margin-left: 5%; }
aside nav { list-style: none; list-style-type: none; margin: 0; padding: 0; max-height: 400px; height: auto; overflow-y: auto; overflow-x: hidden; }
aside nav > ul > li > ul { display: none; }
aside li { margin: 5px 0 0 0; }
aside .active-menu-aside { color: var(--primary-color); }

/* SMALL DEVICE */
@media only screen and (max-width:576px) {
	aside { width: 100%; float: none; margin: 15px 0; }
}

/* =============================== ASIDE =============================== */

.aside-04 nav::-webkit-scrollbar {
	width: 3px;
}

.aside-04 nav::-webkit-scrollbar-thumb {
	background-color: var(--dark);
}

.aside-04 {
	background-color: var(--primary-color);
	border-radius: 5px 0 0 5px;
	margin: 0;
	box-sizing: border-box;
	padding: 3em;
	position: fixed;
	z-index: 999999;
	height: auto;
	width: 300px;
	right: -300px;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	transition: 0.5s ease-in-out;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.aside-04::before {
	content: "\f0c9";
	font-family: "FontAwesome";
	width: 40px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px 0 0 5px;
	background-color: var(--primary-color);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -40px;
	cursor: pointer;
	box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
	transition: 0.3s;
}

.aside-04:hover {
	right: 0;
}

.aside-04:hover::before {
	opacity: 0;
}

.aside-04 h2 {
	margin: 0 0 32px 0;
}

.aside-04 a {
	color: #fff;
}

.aside-04:hover .aside__menu,
.aside-04:hover .aside__contato {
	animation-name: anima__aside;
	animation-duration: 0.7s;
	animation-timing-function: ease-in-out;
}

.aside-04 .aside__menu li a {
	display: block;
	padding: 5px;
	margin: 5px 0;
	font-size: 12px;
	border-left: 1.5px solid #fff;
	transition: 0.3s;
}

.aside-04 .aside__menu li a:hover,
.aside-04 .aside__menu li a.active-menu-aside {
	border-left: 3px solid var(--dark);
	color: var(--dark);
}

@keyframes anima__aside {
	0% {
		transform: translateX(1000px);
	}

	100% {
		transform: translateX(0);
	}
}

/* CARDS */
.card-group { display: grid; grid-template-columns: repeat(4, 1fr); gap: 16px; }
.card { -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 4px; width: 100%; position: relative; overflow: hidden; -webkit-transition: .3s; transition: .3s; }
.card__image { display: block; width: 100%; object-fit: cover; -webkit-transition: .3s; transition: .3s; }
.card__title { font-size: 16px; color: var(--grey); -webkit-transition: .3s; transition: .3s; }
.card__text { font-size: 14px; color: var(--grey); }
.card__btn { display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 15px; border-radius: 3px; font-size: 14px; background-color: var(--primary-color); color: #fff; -webkit-transition: .3s; transition: .3s; }
.card__overlay { position: absolute; opacity: 0; width: 100%; height: 100%; -webkit-transition: .5s; transition: .5s; }
.card:hover .card__overlay { opacity: 1; }

@media only screen and (max-width: 992px) {
	.card-group {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (max-width: 768px) {
	.card-group {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 480px) {
	.card-group {
		grid-template-columns: 1fr;
	}
}

/* CARD MPI */
.card--mpi .card__image { 
	width: 100%;
	height: auto;
	aspect-ratio: 1/1; 
}
.card--mpi .card__image:hover { opacity: 0.8; }
.card--mpi .card__title { display: flex; justify-content: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 5px; height: 45px; margin: 0; font-size: 12px; text-align: center; background: var(--primary-color); color: #fff; }
.card--mpi:hover .card__title { opacity: 0.8; }

/* BTN */
.btn {
	display: inline-block;
	margin: 1em 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	border-radius: var(--border-radius);
	background-color: var(--primary-color);
	color: #fff;
	-webkit-transition: .3s;
	transition: .3s;
}

.btn:hover {
	background-color: var(--secondary-color);
}

/* SMALL DEVICE */
@media only screen and (max-width:576px) {
	.btn {
		display: block;
		width: 100%;
	}

}

/* SOCIAL ICONS */
.social { display: flex; align-items: center; gap: 1em; }
.social__icons { color: #fff; font-size: 1em; transition: .3s; }

/* TABELA */
.table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; width: 100%; }
.table td { font-size: 12px; text-align: center; line-height: 30px; border-style: solid; border-width: 1px; overflow: hidden; word-break: normal; color: #000; }
.table th { font-size: 14px; font-weight: normal; padding: 10px 5px; border-style: solid; border-width: 1px; overflow: hidden; word-break: normal; }

/* LIST */
.list { margin: 0 0 20px 40px; }
.list li { list-style: disc; margin: 5px 0; font-size: 1em; line-height: 1.5em; text-align: left; }
.list--no-ls li { list-style: none; }
.list li::first-letter {
	text-transform: uppercase;
}

/* LAZY LOAD VIDEO */
[data-video] { cursor: pointer; position: relative; aspect-ratio: 16/9; background-color: #000; overflow: hidden; }
.ytvideo[data-video]::before { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 100%; cursor: pointer; background-color: rgba(0, 0, 0, 0.2);}
.ytvideo[data-video]::after { content: '\f167'; position: absolute; z-index: 1; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); font: 70px/normal FontAwesome; color: var(--light); -webkit-transition: .3s; transition: .3s; }
[data-video]:hover::after { color: red; }
[data-video] * {
	width: 100%;
	height: 100%;
}

/* SWEET ALERT */

.sweet-alert .lead.text-muted {
	text-align: center;
}

/* FIM SWEET ALERT */

/* SEARCH PAGE */

.search { position: relative; }
.search input { width: 100%; box-sizing: border-box; padding: 10px 12px; border: 1px solid #ccc; border-radius: 3px; color: var(--grey); font: normal 14px/normal var(--primary-font); }
.search input::placeholder { font: normal 14px/normal var(--primary-font); color: var(--grey);}
.search button { border: none; outline: none; text-decoration: none; background-color: transparent; color: var(--grey); font-size: 18px; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; }
.search--topo button { position: absolute; top: 50%; transform: translateY(-50%); right: 10px; }
.search button:hover { color: var(--dark); }


.search { position: relative; }
.search-topo-blog input { width: 100%; box-sizing: border-box; padding: 14px 48px 14px 28px; border-radius: 50px; color: #FFF; font: normal 14px/normal var(--primary-font); background-color: var(--secondary-color); border: none; }
.search-topo-blog input::placeholder { font: normal 14px/normal var(--primary-font); color: #FFF;}
.search-topo-blog button { border: none; outline: none; text-decoration: none; background-color: transparent; color: #FFF; font-size: 18px; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; }
.search--topo button { position: absolute; top: 50%; transform: translateY(-50%); right: 20px; }

.search button:hover { color: #DDD; }

.search .button-group { position: absolute; top: 50%; transform: translateY(-50%); right: 10px; display: flex; align-items: center; justify-content: center; }

.search-content {  opacity: 0; transition: opacity .2s ease .2s; }
.search-content.search-active { opacity: 1; }

.search-content .no-results {
	margin: 0 0 32px 0;
	text-align: left;
	font-size: 18px;
}

.search-content li a {
  float: left;
  appearance: button;
  background-color: var(--primary-color);
  background-image: none;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, var(--primary-color) 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 5px 5px 10px 5px;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  transition: .3s;
}

.search-content li a:focus {
  text-decoration: none;
}

.search-content li a:not([disabled]):active,
.search-content li a:not([disabled]):hover {
  box-shadow: unset;
  transform: translate(3px, 3px);
}

/* FORMULARIO / CONTATO PAGE */
.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #fff;
}

.form *:focus, .form *:active {
	outline: unset;
}

.form :is(input, textarea, select) {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;

	width: 100%;
	margin: 0.5em 0;

	border: 1px solid var(--grey);
	border-radius: 3px;

	font: 12px/normal var(--primary-font);
	background-color: #fff;
	color: var(--grey);

	-webkit-transition: .3s;
	transition: .3s;
}

.form label, .form :is(input, textarea)::placeholder {
	font: 12px/normal var(--primary-font);
	color: var(--grey);
}

.form label {
	font-weight: bold;
	margin: 8px 0 4px 0;
}

.form label span {
	color: #F00;
}

.form [type="submit"] {
	max-width: 280px;
	width: 100%;
	margin-top: 1em;
	border: 1px solid var(--primary-color);
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background-color: var(--primary-color);
	cursor: pointer;
}

.form [type="submit"]:hover {
	background-color: var(--dark);
	border: 1px solid var(--dark);
}

.form__obrigatory {
	display: block;
	margin: 1em 0;
	font-size: 12px;
	color: var(--grey);
}

.address-map {
	width: 100%;
	height: 450px;
	margin: 15px 0;
}

.g-recaptcha {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

/* =============================== SEÇÃO CONTATO =============================== */
/* FORMULÁRIO */

.contato__image {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 16px;
}

.contato .contato__form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.contato .contato__form :is(input, textarea, select) {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em;

	width: 100%;
	margin: 0.8em 0;

	border: 2px solid #ccc;

	font: 12px var(--primary-font);
	color: var(--grey);

	-webkit-transition: .3s;
	transition: .3s;

	outline: none;
	text-align: left;
}

.contato .contato__form select {
	padding: 0.9em;
}

.contato .contato__form :is(input, textarea, select):focus {
	border-color: var(--grey);
	outline: none;
}

.contato .contato__form label,
.contato .contato__form option, 
.contato .contato__form :is(input, textarea)::placeholder {
	font: 12px var(--primary-font);
	color: var(--grey);
}

.contato .contato__form label {
	text-transform: uppercase;
}

/* BOTÃO SUBMIT */
.contato .contato__form .ir {
	display: block;
	position: relative;

	max-width: 242px;
	width: 100%;
	height: 50px;

	border: 2px solid var(--grey);

	transition: .3s;
}

.contato .contato__form .ir:hover {
	border-color: var(--primary-color);
}

.contato .contato__form .ir:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1%;
	height: 100%;
	background-color: var(--primary-color);
	transition: .3s;
	z-index: 0;
	opacity: 0;
}

.contato .contato__form .ir:hover:before {
	width: 100%;
	opacity: 1;
}

.contato .contato__form .ir label, 
.contato .contato__form .ir [type='submit'] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 100%;
	margin: 0;
	text-align: center;
}

.contato .contato__form .ir label {
	color: var(--grey);
	font-size: 14px;
	font-weight: bold;
}

.contato .contato__form .ir:hover label {
	color: #fff;
}

.contato .contato__form .ir [type='submit'] {
	background-color: transparent;
	outline: none;
	border: none;
}

/* INFORMAÇÕES DE CONTATO */

.contato .contato__item {
	display: block;
	width: 100%;
}

.contato .contato__icon {
	width: 65px;
	height: 65px;
	border-radius: 100%;
	font-size: 1.8em;
	background-color: var(--primary-color);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em;
	float: left;
	transition: .3s;
	outline: 2px solid transparent;
}

.contato .contato__icon:hover {
	background-color: var(--dark);
	outline-color: var(--dark);
	outline-offset: 0.3em;
}

.contato .contato__info {
	float: left;
	padding: 0 0 2rem 1.5rem;
}

.contato .contato__info strong {
	display: block;
	margin-bottom: 1em;
	font: bold 15px var(--primary-font);
	text-transform: uppercase;
	color: var(--primary-color);
}

.contato .contato__info :is(span, a):not(.social__link, .roll) {
	display: block;

	color: var(--grey);
	font-size: 13px;
	line-height: 22px;
	transition: .3s;
}

.contato .contato__info a:hover {
	color: var(--primary-color);
}

/* ÍCONES REDES SOCIAIS */

.contato .contato__social {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;
}

.contato .social__link {
	width: 35px;
	height: 35px;
	border: 2px solid #ccc;

	overflow: hidden;
	position: relative;
	transition: .3s;
}

.contato .social__link .roll {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	text-align: center;
	color: var(--grey);
	font-size: 1rem;


	position: absolute;
	top: 50%;
	left: 50%;
	transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contato .social__link:hover {
	border-color: var(--primary-color);
	background-color: var(--primary-color);
	color: #fff;
}

.contato .social__link:hover .roll {
	color: #fff;
}

.contato .social__link .roll:first-child {
	transform: translate(-50%, -50%);
}

.contato .social__link .roll:last-child {
	transform: translate(-50%, 100%);
}

.contato .social__link:hover .roll:first-child {
	top: 0;
	transform: translate(-50%, -100%);
}

.contato .social__link:hover .roll:last-child {
	transform: translate(-50%, -50%);
}

.mapa-contato {
    width: 100%;
    height: 400px;
}

.mapa-contato__iframe {
    width: 100%;
    height: 100%;
}


/* EXTRA SMALL DEVICE */

@media only screen and (max-width: 576px) {
	.contato .contato__form .ir {
		max-width: 100%;
	}
}

@media only screen and (max-width: 420px) {
	.contato .contato__icon,
	.contato .contato__info {
		float: none;
		margin: 0 auto;
		padding: 1rem;
		text-align: center;
	}

	.contato .contato__social {
		justify-content: center;
	}

}
/* ===============================  END SEÇÃO CONTATO =============================== */

/* MAPA DO SITE */
.sitemap { margin-left: 30px; list-style: none; list-style-type: none; }
.sitemap li { font-size: 15px; margin: 10px 0; }
.sitemap li a { color: #777; font-size: 20px; line-height: 25px; text-decoration: none; }
.sitemap li a:hover { color: #222 !important; }
.sitemap li ul { margin-left: 35px; list-style: none; list-style-type: none; }
.sitemap li ul li { margin: 5px 0; padding: 0; }
.sitemap li ul li a { font-size: 14px; color: #777; }
.sitemap li ul li ul li { margin: 5px 0; }
.sitemap li ul li ul li a { font-size: 13px; color: #777; }
.sitemap li a:hover { color: #999; }
.sitemap i { display: none; }
.sitemap br { display: none; }

/* 404 */
.page-404 .container > .wrapper * { text-align: center; }
.title-404 { color: #fff; font-weight: 700; letter-spacing: 1px; text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%); }
.msg-404 { font-size: 22px; line-height: 34px; color: #A7A9AC; margin-bottom: 30px; }
.menu-404 a { display: block; line-height: 25px; }
.menu-404 a:hover { color: var(--dark); }

/* FOOTER */
footer {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
	clear: both;
}

.copyright-footer {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 100px;
	background-color: var(--primary-color);
}

.copyright-footer .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copyright-footer * {
	color: #eee;
	font-size: 10px;
}

.copyright-footer .selos {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
}

.copyright-footer .selos a {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.copyright-footer .selos i {
	font-size: 14px;
}

.copyright-footer .selos strong {
	background: #fff;
	color: #363b36;
	padding: 1px 6px;
}

/* SMALL DEVICE */
@media only screen and (max-width:576px) {
	footer * {
		text-align: center;
	}

	footer .social {
		justify-content: center;
	}

	.copyright-footer {
		padding: 15px;
	}

	.copyright-footer * {
		text-align: center
	}

	.copyright-footer .wrapper {
		flex-direction: column;
	}
}

/* WHATSAPP BUTTON 1*/

.wpp-container {
	position: relative;
} 

/* BUTTONS */

.wppButton {
	position: fixed;
	right: 24px;
	z-index: 9998;
	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background-color: #25D366;
	box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
	transition: all .2s ease;
	cursor: pointer;
	text-align: center;
}

.wppButton__image {
	width: 60%;
}

.wppButton:hover {
	transform: scale(1.1);
}

/* POP-UP */

.wppPopup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999999998;
}

.wppPopup__inner {
	max-width: 400px; 
	width: 100%;
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	border-radius: .5rem;
	background-color: #ccc;
	transition: transform .3s;
}

.wppPopup :is(.wppPopup__head, .wppPopup__body) {
    box-sizing: border-box;
    padding: 1.25rem;
}

/* POP-UP HEAD */

.wppPopup .wppPopup__head {
	background-color: #009688;
	border-radius: .5rem .5rem 0 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1.25rem;
}

.wppPopup .wppPopup__head .wppPopup__icon i { color: #fff; }

.wppPopup .wppPopup__head .wppPopup__info span {
	display: block;
	color: #fff;
	font-size: .85em;
	margin: 5px 0;
}

.wppPopup .wppPopup__head .wppPopup__info span:nth-child(0n + 3) {
	display: flex;
	align-items: center;
	gap: 8px;
}

.wppPopup .wppPopup__head .wppPopup__info span:nth-child(0n + 3):before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: green;
}

/* POP-UP BODY */

.wppPopup .wppPopup__body .wppPopup__label {
	display: block;
	background-color: #fcf8e3;
	font-size: .85em;
	box-sizing: border-box; 
	padding: .35em .5em;
	border-radius: 1em;
	line-height: 15px;
	text-align: center;
	margin-bottom: .75rem;
}

.wppPopup .wppPopup__body .wppPopup__alert {
	display: block;
	width: 100%;
	background-color: var(--alert);
	color: #fff;
	font-size: .85em;
	box-sizing: border-box; 
	padding: .35em .5em;
	border-radius: 1em;
	line-height: 15px;
	text-align: center;
	margin-bottom: .75rem;
}

/* POP-UP BODY FORM */
.wppPopup .wppPopup__body .wppPopup__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .75rem;
}

.wppPopup .wppPopup__body .wppPopup__form .wppPopup__form-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    max-width: 100%; width: 100%;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}

.wppPopup .wppPopup__body .wppPopup__form .wppPopup__form-input :is(span, input) {
	width: 100%;
	display: block;
	border: none;
	outline: none;
	padding: .25em;
}

.wppPopup .wppPopup__body .wppPopup__form .wppPopup__form-input span {
	max-width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wppPopup .wppPopup__body .wppPopup__form .wppPopup__form-input input,
.wppPopup .wppPopup__body .wppPopup__form .wppPopup__form-input input::placeholder {
	font-size: .85em;
}

.wppPopup .wppPopup__body .wppPopup__form .wppPopup__form-submit button {
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #666;
	font-size: 14px;
	padding: 0.5em 1.25em;
	border-radius: 50px;
	box-shadow: 0px 2px 0px #999;
	transition: .3s;
}

.wppPopup .wppPopup__body .wppPopup__form .wppPopup__form-submit button:hover {
	background-color: #57b846;
	color: #fff;
	box-shadow: unset;
	transform: translateY(2px);
}

.wppPopup .wppPopup__body .wppPopup__form .wppPopup__form-submit button:hover svg path {
	fill: #fff;
}

/* POP-UP MESSAGE */

.wppPopup .wppPopup__message p {
	text-align: center;
	font-size: .85em;
}

/* POP-UP CLOSE BUTTON */

.wppPopup .wppClose {
	position: fixed;
	top: -48px;
	right: -48px;
	font-size: 2em;
	border-radius: 50%;
	color: #fff;
	background: #ccc;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #222;
	cursor: pointer;
	transition: 0.3s;
}

.wppPopup .wppClose:hover {
	background-color: #222;
	color: #FFF;
}

@media only screen and (max-width: 576px) {
	.wppPopup .wppClose {
		top: -56px;
		right: 4px;
	}
}

/* POP-UP STATES */
.wppPopup.wppActive {
	display: block;
	animation: showWpp .3s;
}

.wppPopup .wppError::placeholder {
	color: var(--alert);
}

/* KEYFRAMES */

@keyframes animateWpp {
	from { box-shadow: 0 0 0 0px rgba(85, 205, 108, 0.10); }
	to { box-shadow: 0 0 0 8px rgba(85, 205, 108, 0.50); }

}

@keyframes showWpp {
	from { opacity: 0; }
	to { opacity: 1; }
}


/* ANIMATE */

.scrollanimation:not(.fadeIn, .fadeInLeft, .fadeInRight) {
    animation: none !important;
}

@media only screen and (max-width: 768px) {
    .scrollanimation {
        animation: none !important;
    }
}

/* FIM ANIMATE */

/* *** RULES CSS *** */
	/* MARGIN */
	.m-auto { margin-left: auto !important ; margin-right: auto !important }
	.m-0 { margin: 0 !important }
	.m-1 { margin: .25rem !important }
	.m-2 { margin: .5rem !important }
	.m-3 { margin: .75rem !important }
	.m-4 { margin: 1rem !important }
	.m-5 { margin: 1.25rem !important }
	.mx-0 { margin-left: 0 !important ; margin-right: 0 !important }
	.mx-1 { margin-left: .25rem !important ; margin-right: .25rem !important }
	.mx-2 { margin-left: .5rem !important ; margin-right: .5rem !important }
	.mx-3 { margin-left: .75rem !important ; margin-right: .75rem !important }
	.mx-4 { margin-left: 1rem !important ; margin-right: 1rem !important }
	.mx-5 { margin-left: 1.25rem !important ; margin-right: 1.25rem !important }
	.my-0 { margin-top: 0 !important ; margin-bottom: 0 !important }
	.my-1 { margin-top: .25rem !important ; margin-bottom: .25rem !important }
	.my-2 { margin-top: .5rem !important ; margin-bottom: .5rem !important }
	.my-3 { margin-top: .75rem !important ; margin-bottom: .75rem !important }
	.my-4 { margin-top: 1rem !important ; margin-bottom: 1rem !important }
	.my-5 { margin-top: 1.25rem !important ; margin-bottom: 1.25rem !important }
	.mt-0 { margin-top: 0 !important }
	.mt-1 { margin-top: .25rem !important }
	.mt-2 { margin-top: .5rem !important }
	.mt-3 { margin-top: .75rem !important }
	.mt-4 { margin-top: 1rem !important }
	.mt-5 { margin-top: 1.25rem !important }
	.mb-0 { margin-bottom: 0 !important }
	.mb-1 { margin-bottom: .25rem !important }
	.mb-2 { margin-bottom: .5rem !important }
	.mb-3 { margin-bottom: .75rem !important }
	.mb-4 { margin-bottom: 1rem !important }
	.mb-5 { margin-bottom: 1.25rem !important }
	.ml-0 { margin-left: 0 !important }
	.ml-1 { margin-left: .25rem !important }
	.ml-2 { margin-left: .5rem !important }
	.ml-3 { margin-left: .75rem !important }
	.ml-4 { margin-left: 1rem !important }
	.ml-5 { margin-left: 1.25rem !important }
	.mr-0 { margin-right: 0 !important }
	.mr-1 { margin-right: .25rem !important }
	.mr-2 { margin-right: .5rem !important }
	.mr-3 { margin-right: .75rem !important }
	.mr-4 { margin-right: 1rem !important }
	.mr-5 { margin-right: 1.25rem !important }

	/* PADDING */
	.p-0 { padding: 0 !important }
	.p-1 { padding: .25rem !important }
	.p-2 { padding: .5rem !important }
	.p-3 { padding: .75rem !important }
	.p-4 { padding: 1rem !important }
	.p-5 { padding: 1.25rem !important }
	.px-0 { padding-left: 0 !important ; padding-right: 0 !important }
	.px-1 { padding-left: .25rem !important ; padding-right: .25rem !important }
	.px-2 { padding-left: .5rem !important ; padding-right: .5rem !important }
	.px-3 { padding-left: .75rem !important ; padding-right: .75rem !important }
	.px-4 { padding-left: 1rem !important ; padding-right: 1rem !important }
	.px-5 { padding-left: 1.25rem !important ; padding-right: 1.25rem !important }
	.py-0 { padding-top: 0 !important ; padding-bottom: 0 !important }
	.py-1 { padding-top: .25rem !important ; padding-bottom: .25rem !important }
	.py-2 { padding-top: .5rem !important ; padding-bottom: .5rem !important }
	.py-3 { padding-top: .75rem !important ; padding-bottom: .75rem !important }
	.py-4 { padding-top: 1rem !important ; padding-bottom: 1rem !important }
	.py-5 { padding-top: 1.25rem !important ; padding-bottom: 1.25rem !important }
	.pt-0 { padding-top: 0 !important }
	.pt-1 { padding-top: .25rem !important }
	.pt-2 { padding-top: .5rem !important }
	.pt-3 { padding-top: .75rem !important }
	.pt-4 { padding-top: 1rem !important }
	.pt-5 { padding-top: 1.25rem !important }
	.pb-0 { padding-bottom: 0 !important }
	.pb-1 { padding-bottom: .25rem !important }
	.pb-2 { padding-bottom: .5rem !important }
	.pb-3 { padding-bottom: .75rem !important }
	.pb-4 { padding-bottom: 1rem !important }
	.pb-5 { padding-bottom: 1.25rem !important }
	.pl-0 { padding-left: 0 !important }
	.pl-1 { padding-left: .25rem !important }
	.pl-2 { padding-left: .5rem !important }
	.pl-3 { padding-left: .75rem !important }
	.pl-4 { padding-left: 1rem !important }
	.pl-5 { padding-left: 1.25rem !important }
	.pr-0 { padding-right: 0 !important }
	.pr-1 { padding-right: .25rem !important }
	.pr-2 { padding-right: .5rem !important }
	.pr-3 { padding-right: .75rem !important }
	.pr-4 { padding-right: 1rem !important }
	.pr-5 { padding-right: 1.25rem !important }

	/* EXTRA LARGE DEVICE */
	@media only screen and (min-width: 1024px) {

		/* WIDTH/HEIGHT */
		.w-100 { width: 100% }
		.mw-100 { max-width: 100% }
		.h-100 { height: 100% }
		.mh-100 { max-height: 100% }
		.w-75 { width: 75% }
		.mw-75 { max-width: 75% }
		.h-75 { height: 75% }
		.mh-75 { max-height: 75% }
		.w-50 { width: 50% }
		.mw-50 { max-width: 50% }
		.h-50 { height: 50% }
		.mh-50 { max-height: 50% }
		.w-25 { width: 25% }
		.mw-25 { max-width: 25% }
		.h-25 { height: 25% }
		.mh-25 { max-height: 25% }
		.w-0 { width: 0% }
		.mw-0 { max-width: 0% }
		.h-0 { height: 0% }
		.mh-0 { max-height: 0% }

	}

	/* IMAGE ALIGN */
	.picture-center { display: block; margin-left: auto; margin-right: auto; }
	.picture-left { float: left; }
	.picture-right { float: right; }

	/* FONT SIZE */
	.large { font-size: large }
	.larger { font-size: larger }
	.x-large { font-size: x-large }
	.xx-large { font-size: xx-large }
	.medium { font-size: medium }
	.small { font-size: small }
	.smaller { font-size: smaller }
	.x-small { font-size: x-small }
	.xx-small { font-size: xx-small }
	.display-1 { font-size: 6em }
	.display-2 { font-size: 5.5em }
	.display-3 { font-size: 4.5em }
	.display-4 { font-size: 3.5em }

	/* RESPONSIVE FONT-SIZE */
	.fs-14 { font-size: 1em }
	.fs-16 { font-size: 1.14em }
	.fs-18 { font-size: 1.28em }
	.fs-20 { font-size: 1.42em }
	.fs-22 { font-size: 1.57em }
	.fs-24 { font-size: 1.71em }
	.fs-26 { font-size: 1.85em }

	.fs-28 { font-size: 2em }
	.fs-30 { font-size: 2.14em }
	.fs-32 { font-size: 2.28em }
	.fs-34 { font-size: 2.42em }
	.fs-36 { font-size: 2.57em }
	.fs-38 { font-size: 2.71em }
	.fs-40 { font-size: 2.85em }

	.fs-42 { font-size: 3em }
	.fs-44 { font-size: 3.14em }
	.fs-46 { font-size: 3.28em }
	.fs-48 { font-size: 3.42em }
	.fs-50 { font-size: 3.57em }
	.fs-52 { font-size: 3.71em }
	.fs-54 { font-size: 3.85em }

	.fs-56 { font-size: 4em }
	.fs-58 { font-size: 4.14em }
	.fs-60 { font-size: 4.28em }
	.fs-62 { font-size: 4.42em }
	.fs-64 { font-size: 4.57em }
	.fs-66 { font-size: 4.71em }
	.fs-68 { font-size: 4.85em }

	.fs-70 { font-size: 5em }
	.fs-72 { font-size: 5.14em }
	.fs-74 { font-size: 5.28em }
	.fs-76 { font-size: 5.42em }
	.fs-78 { font-size: 5.57em }
	.fs-80 { font-size: 5.71em }
	.fs-82 { font-size: 5.85em }

	.fs-84 { font-size: 6em }
	.fs-86 { font-size: 6.14em }
	.fs-88 { font-size: 6.28em }
	.fs-90 { font-size: 6.42em }
	.fs-92 { font-size: 6.57em }
	.fs-94 { font-size: 6.71em }
	.fs-96 { font-size: 6.85em }

	.fs-98  { font-size: 7em }
	.fs-100 { font-size: 7.14em }
	.fs-102 { font-size: 7.28em }
	.fs-104 { font-size: 7.42em }
	.fs-106 { font-size: 7.57em }
	.fs-108 { font-size: 7.71em }
	.fs-110 { font-size: 7.85em }


	/* SMALL DEVICE */
	@media only screen and (max-width: 576px) {

		[class*='fs-3'] {
			font-size: calc(2.14em - 0.14vw - 0.14vh);
		}

		[class*='fs-4'] {
			font-size: calc(2.85em - 0.85vw - 0.85vh);
		}

		[class*='fs-5'] {
			font-size: calc(3.57em - 0.57vw - 0.57vh);
		}

		[class*='fs-6'], [class*='fs-7'], [class*='fs-8'], [class*='fs-9'], [class*='fs-10'], [class*='fs-11']:not(.fs-11) {
			font-size: calc(4.28em - 0.28vw - 0.28vh);
		}
	}

	/* FONT WEIGHT */
	.fw-normal { font-weight: 400 }
	.fw-bold { font-weight: 700 }

	.fw-200 { font-weight: 200; }
	.fw-300 { font-weight: 300; }
	.fw-400 { font-weight: 400; }
	.fw-500 { font-weight: 500; }
	.fw-600 { font-weight: 600; }
	.fw-700 { font-weight: 700; }
	.fw-800 { font-weight: 800; }
	.fw-900 { font-weight: 900; }

	/* TEXT TRANSFORM */
	.text-lowercase { text-transform: lowercase }
	.text-uppercase { text-transform: uppercase }
	.text-capitalize { text-transform: capitalize }
	.text-left { text-align: left }
	.text-center { text-align: center }
	.text-right { text-align: right }
	.text-justify { text-align: justify }

	/* DISPLAY */
	.d-none { display: none }
	.d-inline { display: inline }
	.d-inline-block { display: inline-block }
	.d-block { display: block }
	.d-table { display: table }
	.d-table-cell { display: table-cell }
	.d-table-row { display: table-row }
	.d-flex { display: flex }
	.d-flex-wrap { flex-wrap: wrap }
	.d-inline-flex { display: inline-flex }

	/* JUSTIFY CONTENT */
	.justify-content-center { justify-content: center }
	.justify-content-start { justify-content: flex-start }
	.justify-content-end { justify-content: flex-end }
	.justify-content-between { justify-content: space-between }
	.justify-content-around { justify-content: space-around }

	/* MEDIUM DEVICE */
	@media only screen and (max-width: 768px) {
		.justify-content-md-center { justify-content: center }
		.justify-content-md-start { justify-content: flex-start }
		.justify-content-md-end { justify-content: flex-end }
		.justify-content-md-between { justify-content: space-between }
		.justify-content-md-around { justify-content: space-around }
	}

	/* SMALL DEVICE */
	@media only screen and (max-width: 576px) {
		.justify-content-sm-center { justify-content: center }
		.justify-content-sm-start { justify-content: flex-start }
		.justify-content-sm-end { justify-content: flex-end }
		.justify-content-sm-between { justify-content: space-between }
		.justify-content-sm-around { justify-content: space-around }
	}

	/* ALIGN ITEMS */
	.align-items-center { align-items: center }
	.align-items-start { align-items: flex-start }
	.align-items-end { align-items: flex-end }

	/* MEDIUM DEVICE */
	@media only screen and (max-width: 768px) {
		.align-items-md-center { align-items: center }
		.align-items-md-start { align-items: flex-start }
		.align-items-md-end { align-items: flex-end }
	}

	/* SMALL DEVICE */
	@media only screen and (max-width: 576px) {
		.align-items-sm-center { align-items: center }
		.align-items-sm-start { align-items: flex-start }
		.align-items-sm-end { align-items: flex-end }
	}

	/* FLEX DIRECTION */
	.flex-row { flex-direction: row }
	.flex-column { flex-direction: column }
	.flex-column-reverse { flex-direction: column-reverse }
	.flex-row-reverse { flex-direction: row-reverse }

	/* MEDIUM DEVICE */
	@media only screen and (max-width: 768px) {
		.flex-md-row { flex-direction: row }
		.flex-md-column { flex-direction: column }
		.flex-md-column-reverse { flex-direction: column-reverse }
		.flex-md-row-reverse { flex-direction: row-reverse }
	}

	/* SMALL DEVICE */
	@media only screen and (max-width: 576px) {
		.flex-sm-row { flex-direction: row }
		.flex-sm-column { flex-direction: column }
		.flex-sm-column-reverse { flex-direction: column-reverse }
		.flex-sm-row-reverse { flex-direction: row-reverse }
	}

	/* FLOAT */
	.float-left { float: left }
	.float-right { float: right }
	.float-none { float: none }

	/* POSITION */
	.position-relative { position: relative }
	.position-absolute { position: absolute }
	.position-fixed { position: fixed }
	.t-0 { top: 0 }
	.b-0 { bottom: 0 }
	.l-0 { left: 0 }
	.r-0 { right: 0 }
	.t-50 { top: 50% }
	.b-50 { bottom: 50% }
	.l-50 { left: 50% }
	.r-50 { right: 50% }

	/* Z-INDEX */
	.z-minus-1 { z-index: -1; }
	.z-0 { z-index: 0; }
	.z-1 { z-index: 1; }
	.z-2 { z-index: 2; }
	.z-3 { z-index: 3; }
	.z-4 { z-index: 4; }
	.z-5 { z-index: 5; }
	.z-6 { z-index: 6; }
	.z-7 { z-index: 7; }
	.z-8 { z-index: 8; }
	.z-9 { z-index: 9; } 
	.z-999 { z-index: 999; } 

	/* OBJECT FIT */
	.object-fit-cover { object-fit: cover }
	.object-fit-contain { object-fit: contain }

	/* BORDER  */
	.rounded { border-radius: 15px }
	.rounded-circle { border-radius: 50% }

	.border { border: 1px solid #dee2e6 }
	.border-top { border-top: 1px solid #dee2e6 }
	.border-bottom { border-bottom: 1px solid #dee2e6 }
	.border-left { border-left: 1px solid #dee2e6 }
	.border-right { border-right: 1px solid #dee2e6 }
	.border-dark { border-color: var(--dark) }
	.border-light { border-color: var(--light) }

	/* COLORS */
	.primary-color { color: var(--primary-color); }
	.secondary-color { color: var(--secondary-color); }
	.grey { color: var(--grey); }
	.black { color: #000; }
	.white { color: #FFF; }
	.dark { color: var(--dark); }
	.light { color: var(--light); }

	/* BG COLORS */
	.bg-primary-color { background-color: var(--primary-color); }
	.bg-secondary-color { background-color: var(--secondary-color); }
	.bg-grey { background-color: var(--grey); }
	.bg-black { background-color: #000; }
	.bg-white { background-color: #FFF; }
	.bg-dark { background-color: var(--dark); }
	.bg-light { background-color: var(--light); }

	/* HIDDEN */
	.hidden { display: none; visibility: hidden }
	.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px }
	.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto }
	.invisible { visibility: hidden }

	/* CLEAR */
	.clearfix { overflow: auto }
	.clearfix::after { content: ""; clear: both; display: block }
	.clear { clear: both }

	/* HIDDEN/SHOW DEVICES */
	.show-mobile { display: none }
	.show-desk { display: block }
	.hide-mobile { display: block }
	.hide-desk { display: none }

	/* MEDIUM DEVICE */
	@media only screen and (max-width: 768px) {
		.show-mobile { display: block }
		.show-desk { display: none }
		.hide-desk { display: block }
		.hide-mobile { display: none }
	}

	/* COL SYSTEM  */
	.row { display: flex; flex-wrap: wrap; gap: 0px; --spacing: 0px; }
	.row::after, .row::before { clear: both }
		
	.col-1 { flex: 1 0 calc(8.33% - var(--spacing)); max-width: calc(8.33% - var(--spacing) / 2); }
	.col-2 { flex: 1 0 calc(16.66% - var(--spacing)); max-width: calc(16.66% - var(--spacing) / 2); }
	.col-3 { flex: 1 0 calc(25% - var(--spacing)); max-width: calc(25% - var(--spacing) / 2); }
	.col-4 { flex: 1 0 calc(33.33% - var(--spacing)); max-width: calc(33.33% - var(--spacing) / 2); }
	.col-5 { flex: 1 0 calc(41.66% - var(--spacing)); max-width: calc(41.66% - var(--spacing) / 2); }
	.col-6 { flex: 1 0 calc(50% - var(--spacing)); max-width: calc(50% - var(--spacing) / 2); }
	.col-7 { flex: 1 0 calc(58.33% - var(--spacing)); max-width: calc(58.33% - var(--spacing) / 2); }
	.col-8 { flex: 1 0 calc(66.66% - var(--spacing)); max-width: calc(66.66% - var(--spacing) / 2); }
	.col-9 { flex: 1 0 calc(75% - var(--spacing)); max-width: calc(75% - var(--spacing) / 2); }
	.col-10 { flex: 1 0 calc(83.33% - var(--spacing)); max-width: calc(83.33% - var(--spacing) / 2); }
	.col-11 { flex: 1 0 calc(91.66% - var(--spacing)); max-width: calc(91.66% - var(--spacing) / 2); }
	.col-12 { flex: 1 0 100%; max-width: 100%; }

	/* EXTRA LARGE DEVICE */
	@media only screen and (max-width: 1024px) {
		.col-xl-1 { flex: 1 0 calc(8.33% - var(--spacing)); max-width: calc(8.33% - var(--spacing) / 2); }
		.col-xl-2 { flex: 1 0 calc(16.66% - var(--spacing)); max-width: calc(16.66% - var(--spacing) / 2); }
		.col-xl-3 { flex: 1 0 calc(25% - var(--spacing)); max-width: calc(25% - var(--spacing) / 2); }
		.col-xl-4 { flex: 1 0 calc(33.33% - var(--spacing)); max-width: calc(33.33% - var(--spacing) / 2); }
		.col-xl-5 { flex: 1 0 calc(41.66% - var(--spacing)); max-width: calc(41.66% - var(--spacing) / 2); }
		.col-xl-6 { flex: 1 0 calc(50% - var(--spacing)); max-width: calc(50% - var(--spacing) / 2); }
		.col-xl-7 { flex: 1 0 calc(58.33% - var(--spacing)); max-width: calc(58.33% - var(--spacing) / 2); }
		.col-xl-8 { flex: 1 0 calc(66.66% - var(--spacing)); max-width: calc(66.66% - var(--spacing) / 2); }
		.col-xl-9 { flex: 1 0 calc(75% - var(--spacing)); max-width: calc(75% - var(--spacing) / 2); }
		.col-xl-10 { flex: 1 0 calc(83.33% - var(--spacing)); max-width: calc(83.33% - var(--spacing) / 2); }
		.col-xl-11 { flex: 1 0 calc(91.66% - var(--spacing)); max-width: calc(91.66% - var(--spacing) / 2); }
		.col-xl-12 { flex: 1 0 100%; max-width: 100%; }
	}

	/* LARGE DEVICE */
	@media only screen and (max-width: 992px) {
		.col-lg-1 { flex: 1 0 calc(8.33% - var(--spacing)); max-width: calc(8.33% - var(--spacing) / 2); }
		.col-lg-2 { flex: 1 0 calc(16.66% - var(--spacing)); max-width: calc(16.66% - var(--spacing) / 2); }
		.col-lg-3 { flex: 1 0 calc(25% - var(--spacing)); max-width: calc(25% - var(--spacing) / 2); }
		.col-lg-4 { flex: 1 0 calc(33.33% - var(--spacing)); max-width: calc(33.33% - var(--spacing) / 2); }
		.col-lg-5 { flex: 1 0 calc(41.66% - var(--spacing)); max-width: calc(41.66% - var(--spacing) / 2); }
		.col-lg-6 { flex: 1 0 calc(50% - var(--spacing)); max-width: calc(50% - var(--spacing) / 2); }
		.col-lg-7 { flex: 1 0 calc(58.33% - var(--spacing)); max-width: calc(58.33% - var(--spacing) / 2); }
		.col-lg-8 { flex: 1 0 calc(66.66% - var(--spacing)); max-width: calc(66.66% - var(--spacing) / 2); }
		.col-lg-9 { flex: 1 0 calc(75% - var(--spacing)); max-width: calc(75% - var(--spacing) / 2); }
		.col-lg-10 { flex: 1 0 calc(83.33% - var(--spacing)); max-width: calc(83.33% - var(--spacing) / 2); }
		.col-lg-11 { flex: 1 0 calc(91.66% - var(--spacing)); max-width: calc(91.66% - var(--spacing) / 2); }
		.col-lg-12 { flex: 1 0 100%; max-width: 100%; }
	}

	/* MEDIUM DEVICE */
	@media only screen and (max-width: 768px) {
		.col-md-1 { flex: 1 0 calc(8.33% - var(--spacing)); max-width: calc(8.33% - var(--spacing) / 2); }
		.col-md-2 { flex: 1 0 calc(16.66% - var(--spacing)); max-width: calc(16.66% - var(--spacing) / 2); }
		.col-md-3 { flex: 1 0 calc(25% - var(--spacing)); max-width: calc(25% - var(--spacing) / 2); }
		.col-md-4 { flex: 1 0 calc(33.33% - var(--spacing)); max-width: calc(33.33% - var(--spacing) / 2); }
		.col-md-5 { flex: 1 0 calc(41.66% - var(--spacing)); max-width: calc(41.66% - var(--spacing) / 2); }
		.col-md-6 { flex: 1 0 calc(50% - var(--spacing)); max-width: calc(50% - var(--spacing) / 2); }
		.col-md-7 { flex: 1 0 calc(58.33% - var(--spacing)); max-width: calc(58.33% - var(--spacing) / 2); }
		.col-md-8 { flex: 1 0 calc(66.66% - var(--spacing)); max-width: calc(66.66% - var(--spacing) / 2); }
		.col-md-9 { flex: 1 0 calc(75% - var(--spacing)); max-width: calc(75% - var(--spacing) / 2); }
		.col-md-10 { flex: 1 0 calc(83.33% - var(--spacing)); max-width: calc(83.33% - var(--spacing) / 2); }
		.col-md-11 { flex: 1 0 calc(91.66% - var(--spacing)); max-width: calc(91.66% - var(--spacing) / 2); }
		.col-md-12 { flex: 1 0 100%; max-width: 100%; }
	}

	/* SMALL DEVICE */
	@media only screen and (max-width: 576px) {
		[class*=col-] { flex: 1 0 100%; max-width: 100%; }
		.col-sm-1 { flex: 1 0 calc(8.33% - var(--spacing)); max-width: calc(8.33% - var(--spacing) / 2); }
		.col-sm-2 { flex: 1 0 calc(16.66% - var(--spacing)); max-width: calc(16.66% - var(--spacing) / 2); }
		.col-sm-3 { flex: 1 0 calc(25% - var(--spacing)); max-width: calc(25% - var(--spacing) / 2); }
		.col-sm-4 { flex: 1 0 calc(33.33% - var(--spacing)); max-width: calc(33.33% - var(--spacing) / 2); }
		.col-sm-5 { flex: 1 0 calc(41.66% - var(--spacing)); max-width: calc(41.66% - var(--spacing) / 2); }
		.col-sm-6 { flex: 1 0 calc(50% - var(--spacing)); max-width: calc(50% - var(--spacing) / 2); }
		.col-sm-7 { flex: 1 0 calc(58.33% - var(--spacing)); max-width: calc(58.33% - var(--spacing) / 2); }
		.col-sm-8 { flex: 1 0 calc(66.66% - var(--spacing)); max-width: calc(66.66% - var(--spacing) / 2); }
		.col-sm-9 { flex: 1 0 calc(75% - var(--spacing)); max-width: calc(75% - var(--spacing) / 2); }
		.col-sm-10 { flex: 1 0 calc(83.33% - var(--spacing)); max-width: calc(83.33% - var(--spacing) / 2); }
		.col-sm-11 { flex: 1 0 calc(91.66% - var(--spacing)); max-width: calc(91.66% - var(--spacing) / 2); }
		.col-sm-12 { flex: 1 0 100%; max-width: 100%; }
	}

	/* EXTRA SMALL DEVICE */
	@media only screen and (max-width: 320px) {
		.col-xs-1 { flex: 1 0 calc(8.33% - var(--spacing)); max-width: calc(8.33% - var(--spacing) / 2); }
		.col-xs-2 { flex: 1 0 calc(16.66% - var(--spacing)); max-width: calc(16.66% - var(--spacing) / 2); }
		.col-xs-3 { flex: 1 0 calc(25% - var(--spacing)); max-width: calc(25% - var(--spacing) / 2); }
		.col-xs-4 { flex: 1 0 calc(33.33% - var(--spacing)); max-width: calc(33.33% - var(--spacing) / 2); }
		.col-xs-5 { flex: 1 0 calc(41.66% - var(--spacing)); max-width: calc(41.66% - var(--spacing) / 2); }
		.col-xs-6 { flex: 1 0 calc(50% - var(--spacing)); max-width: calc(50% - var(--spacing) / 2); }
		.col-xs-7 { flex: 1 0 calc(58.33% - var(--spacing)); max-width: calc(58.33% - var(--spacing) / 2); }
		.col-xs-8 { flex: 1 0 calc(66.66% - var(--spacing)); max-width: calc(66.66% - var(--spacing) / 2); }
		.col-xs-9 { flex: 1 0 calc(75% - var(--spacing)); max-width: calc(75% - var(--spacing) / 2); }
		.col-xs-10 { flex: 1 0 calc(83.33% - var(--spacing)); max-width: calc(83.33% - var(--spacing) / 2); }
		.col-xs-11 { flex: 1 0 calc(91.66% - var(--spacing)); max-width: calc(91.66% - var(--spacing) / 2); }
		.col-xs-12 { flex: 1 0 100%; max-width: 100%; }
	}

	/* GRID SYSTEM */
	.grid { display: grid; }

	.grid-col-2 { display: grid; grid-template-columns: repeat(2, 1fr); gap: 25px; width: 100%; }
	.grid-col-3 { display: grid; grid-template-columns: repeat(3, 1fr); gap: 25px; width: 100%; }
	.grid-col-4 { display: grid; grid-template-columns: repeat(4, 1fr); gap: 25px; width: 100%; }
	.grid-col-5 { display: grid; grid-template-columns: repeat(5, 1fr); gap: 25px; width: 100%; }
	.grid-col-6 { display: grid; grid-template-columns: repeat(6, 1fr); gap: 25px; width: 100%; }
	.grid-col-7 { display: grid; grid-template-columns: repeat(7, 1fr); gap: 25px; width: 100%; }
	.grid-col-8 { display: grid; grid-template-columns: repeat(8, 1fr); gap: 25px; width: 100%; }

	.grid-col-1-2 { display: grid; grid-template-columns: 1fr 2fr; gap: 25px; width: 100%; }
	.grid-col-2-1 { display: grid; grid-template-columns: 2fr 1fr; gap: 25px; width: 100%; }

	.grid-col-1-3 { display: grid; grid-template-columns: 1fr 3fr; gap: 25px; width: 100%; }
	.grid-col-3-1 { display: grid; grid-template-columns: 3fr 1fr; gap: 25px; width: 100%; }

	.grid-col-1-4 { display: grid; grid-template-columns: 1fr 4fr; gap: 25px; width: 100%; }
	.grid-col-4-1 { display: grid; grid-template-columns: 4fr 1fr; gap: 25px; width: 100%; }

	.grid-col-1-5 { display: grid; grid-template-columns: 1fr 5fr; gap: 25px; width: 100%; }
	.grid-col-5-1 { display: grid; grid-template-columns: 5fr 1fr; gap: 25px; width: 100%; }

	.grid-col-2-3 { display: grid; grid-template-columns: 2fr 3fr; gap: 25px; width: 100%; }
	.grid-col-3-2 { display: grid; grid-template-columns: 3fr 2fr; gap: 25px; width: 100%; }

	/* SMALL DEVICE TO LARGE DEVICE */
	@media only screen and (min-width: 577px) and (max-width: 992px) {
		[class*="grid-col"]:not(.grid-col-3) { grid-template-columns: repeat(2, 1fr) }
	}

	/* SMALL DEVICE */
	@media only screen and (max-width: 576px) {
		[class*="grid-col-"] { grid-template-columns: 100%; }
	}

	/* GAP FOR FLEX and GRID ELEMENTS */
	
    .gap-0 { gap: 0px; --spacing: 0px; }
    .gap-10 { gap: 10px; --spacing: 10px; }
    .gap-20 { gap: 20px; --spacing: 20px; }
    .gap-30 { gap: 30px; --spacing: 30px; }
    .gap-40 { gap: 40px; --spacing: 40px; }
    .gap-50 { gap: 50px; --spacing: 50px; }
    .gap-60 { gap: 60px; --spacing: 60px; }
    .gap-70 { gap: 70px; --spacing: 70px; }
    .gap-80 { gap: 80px; --spacing: 80px; }
    .gap-90 { gap: 90px; --spacing: 90px; }
    .gap-100 { gap: 100px; --spacing: 100px; }

	/* ROW GAP */

	.rgap-0 { row-gap: 0; }
	.rgap-10 { row-gap: 10px; }
	.rgap-20 { row-gap: 20px; }
	.rgap-30 { row-gap: 30px; }
	.rgap-40 { row-gap: 40px; }
	.rgap-50 { row-gap: 50px; }
	.rgap-60 { row-gap: 60px; }
	.rgap-70 { row-gap: 70px; }
	.rgap-80 { row-gap: 80px; }
	.rgap-90 { row-gap: 90px; }
	.rgap-100 { row-gap: 100px; }

	/* COLUMN GAP */

	.cgap-0 { column-gap: 0; --spacing: 0; }
	.cgap-10 { column-gap: 10px; --spacing: 10px; }
	.cgap-20 { column-gap: 20px; --spacing: 20px; }
	.cgap-30 { column-gap: 30px; --spacing: 30px; }
	.cgap-40 { column-gap: 40px; --spacing: 40px; }
	.cgap-50 { column-gap: 50px; --spacing: 50px; }
	.cgap-60 { column-gap: 60px; --spacing: 60px; }
	.cgap-70 { column-gap: 70px; --spacing: 70px; }
	.cgap-80 { column-gap: 80px; --spacing: 80px; }
	.cgap-90 { column-gap: 90px; --spacing: 90px; }
	.cgap-100 { column-gap: 100px; --spacing: 100px; }

	/* SMALL DEVICE */
	@media only screen and (max-width: 576px) {
		[class*="gap-"] {
			gap: 2em;
		}
	}
	
	/* ADDRESS */
	.address { font-style: normal; }
	.address :is(span, a) { display: block; font: 13px/22px var(--primary-font); color: var(--grey);}
	.address a:hover { color: var(--primary-color); }
	

	/* *** PULL YOUR CUSTOM SITE CSS *RULES* BELLOW *** */

/* *** END RULES CSS *** */
